<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <test name="restAssuredTest">
        <classes>
            <class name="ddt.DataDrivenTestingEx01"></class>
        </classes>
    </test>
</suite>